/* 

Color: #HEX/rgb();

*/


/**** GLOBAL STYLES ****/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size:16px;
}

body {
	background:white;
	color:#222;
	font: 1em/1.5 'Montserrat', sans-serif;
}

h1,.alpha {		font-size: 1.875em; }
h2,.beta {		font-size: 1.5em;	}
h3,.gamma {		font-size: ;	}
h4,.delta {		font-size: ;	}
h5,.epsilon {	font-size: ;	}
h6,.zeta {		font-size: ;	}



/**** GENERAL ****/

.page-section {
	padding:40px;
}


/**** HEADER ****/

/**** FOOTER ****/