/* 

Color: 		#HEX/rgb();
------------------------
Brand:		rgb(249, 105, 50);
Dark:		rgb(48, 47, 47);
Off-white: 	#f0edeb;

*/


/**** GLOBAL STYLES ****/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size:16px;
}

body {
	background:white;
	color:#222;
	font: 1em/1.5 'Titillium Web', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: rgb(249, 105, 50);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

h1,.alpha {		font-size: 1.875em; }
h2,.beta {		font-size: 1.5em;	}
h3,.gamma {		font-size: ;	}
h4,.delta {		font-size: ;	}
h5,.epsilon {	font-size: ;	}
h6,.zeta {		font-size: ;	}

img {
	max-width: 100%;
	height:auto;
}



/**** GENERAL ****/

.brand {	color:rgb(249, 105, 50); }
.odd { 		background:#f0edeb;}

a { 
	color:rgb(249, 105, 50);
}
	a:hover {}

.page-section {
	padding:40px 20px;
}
	
	@media only screen 	and (min-width : 320px) {
		.page-section {
			padding:80px 40px;
		}
	}

/* Navigation */
.nav{
    list-style:none;
    margin-left:0;
}
	.nav > li,
	.nav > li > a{
		display:inline-block;
		*display:inline;
		zoom:1;
	}

.breadcrumb{}
.breadcrumb li:before{
    content:"» "
}
.breadcrumb li:first-child:before{
    content:normal;
}

.main-nav {
	margin:0;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}
	.main-nav li {
		margin-left:20px;
		line-height: 38px; // Height of logo
	}

		.main-nav li a:hover {
			color:white;
		}

.cover-image {
	width:100%;
}


.showcase-link {
	position:relative;
	margin:15px 0;
}

.overlay {
	position:absolute;
	text-align:center;
	background:rgba(0,0,0,0.4);
	top:0;
	right:15px;
	bottom:0;
	left:15px;
	opacity: 0;
}

.caption-wrapper {
	display: table;
	width:100%;
	height:100%;
}

	.caption {
		display: table-cell;
		vertical-align: middle;
	}

		.caption .caption-title {
			color: white;
		}

.showcase-link:hover .overlay {
	opacity:1;
}




/**** HEADER ****/

header {
	padding:20px 40px;
	background:transparent;
	position:fixed;
	width:100%;
	overflow: hidden;
	transition: background-color 100ms ease-in;
}

	.logo {
		width:120px;
		opacity:0;
		transition: opacity 100ms ease-in;
	}
	
	header.fixed {
		background:rgb(48, 47, 47);
	}

		header.fixed .logo {
			opacity: 1;
		}

/**** FOOTER ****/