@import "../grid";

/* ===========  VARIABLES  ========== */
$primcolor: #bf1717;
$lightred: #dc1919;
$darkred: #a61414;
$darkgray: #222;
$white: #FFF;
$gray: #444;


@mixin arrow($arrowposition, $arrowcolor, $arrowsize: 10px) {
 &:after {
   position: absolute;
   border: solid transparent;
   content: " ";
   top: auto;
   left: auto;
   height: 0;
   width: 0;
   margin: 0;
   border-color: transparent;
   border-width: $arrowsize;
   pointer-events: none;
 }
 @if $arrowposition == "top" {
   &:after {
     bottom: 100%;
     border-bottom-color: $arrowcolor;
     margin-left: (-$arrowsize);
     left: 50%;
   }
 }
 @if $arrowposition == "right" {
   &:after {
     left: 100%;
     border-left-color: $arrowcolor;
     margin-top: (-$arrowsize);
     top: 50%;
   }
 }
 @if $arrowposition == "bottom" {
   &:after {
     top: 100%;
     border-top-color: $arrowcolor;
     margin-left: (-$arrowsize);
     left: 50%;
   }
 }
 @if $arrowposition == "left" {
   &:after {
     right: 100%;
     border-right-color: $arrowcolor;
     margin-top: (-$arrowsize);
     top: 50%;
   }
 }
}




//Main
.main-content {
	@include column(9);
}
.secondary-content {
	@include column(3);
}

.center {
 min-width: 840px;
}

//Logos
header .logo {
 background: url(../../images/logotype_med.png) no-repeat center center;
 width:120px;
 height:105px;
 

	img {
	 display:none;
	}
}

//Facebook bubble/widget
.fb-widget .iframe-wrapper {
 margin: 10px auto;
}

//Header
header .main-nav,
header .call-us,
header .btn {
 margin-top:70px;
}

// Footer
footer .logo {
 position:absolute;
 left:50%;
 margin-left:-32px;
}

footer p {
 line-height:57px;
 overflow:hidden;
}

footer .copy {
 float:left;
}

footer .nav {
 float:right;
 
	 a + a {
 	  margin-left:20px;
	 }
}
		
		
//Promos
.promos .center > div {
 @include column(4);
 margin-top:0;
 padding: 40px 0;
 
 	// Set content margin for padding-like effect
 	& > *,
 	.openhours .status {
 		margin-left:40px;
 		margin-right:40px;
 	}
}

.promos > div > div:first-child {
 float: right;
}


//Staff page
.staff-entry {
 @include column(3);
}


//Services
.content.services .main-content {
 padding:20px 0;
		 
 	& > * {
	 margin-left:40px;
	 margin-right:40px;
	}
}

.nav-list li.current_page_item a {
	@include arrow(right, $white);
}