/* 

Color: 		#HEX/rgb();
------------------------
Brand:		rgb(249, 105, 50);
Dark:		rgb(48, 47, 47);
Off-white: 	#f0edeb;

*/


/**** GLOBAL STYLES ****/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size:16px;
}

body {
	background:white;
	color:#222;
	font: 1em/1.5 'Titillium Web', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: rgb(249, 105, 50);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

h1,.alpha {		font-size: 2.4em; text-align: center }
h2,.beta {		font-size: 1.5em;}
h3,.gamma {		font-size: ;	}
h4,.delta {		font-size: ;	}
h5,.epsilon {	font-size: ;	}
h6,.zeta {		font-size: ;	}

img {
	max-width: 100%;
	height:auto;
}



/**** GENERAL ****/

.brand {	color:rgb(249, 105, 50); }
.odd { 		background:#f0edeb;}

a { 
	color:rgb(249, 105, 50);
}
	a:hover {}

.page-section {
	padding:30px;
}
	
	@media only screen 	and (min-width : 640px) {
		.page-section {
			padding:60px 30px;
		}
	}

/* Navigation */
.nav{
    list-style:none;
    margin-left:0;
}
	.nav > li,
	.nav > li > a{
		display:inline-block;
		*display:inline;
		zoom:1;
	}

.breadcrumb{}
.breadcrumb li:before{
    content:"» "
}
.breadcrumb li:first-child:before{
    content:normal;
}

.main-nav {
	margin:0;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}
	.main-nav li {
		margin-left:20px;
		line-height: 38px; // Height of logo
	}

		.main-nav li:first-child {
			margin:0;
		}

		.main-nav li a {
			color:white;
		}

			.main-nav li a:hover {
				color:rgb(249, 105, 50);
			}

/* Cover Image */
.cover-image {
	overflow: hidden;
	display: table;
	width: 100%;
}

.cover-logo {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding:200px 40px;
}
	
	.cover-logo img {
		width:100%;
		max-width: 600px;
		margin:0 auto;
	}

.front-cover {
	background: url(../images/cover-image_nl.jpg) no-repeat top center;
	background-size: cover;
	min-height:100vh;
}
	
	@media only screen 	and (max-width : 640px) {
		.front-cover {
			min-height: calc(100vh - 58px);
		}
	}

	@media only screen 	and (min-width : 640px) {
		.front-page .description {
			padding:10% 0;
		}

			.description p {
					font-size:1.125em;
				}

				.front-page .description p {
					font-size:1.65em;
				}
	}


/* Showcase */
.showcase-link {
	position:relative;
	margin:15px 0;
	overflow: hidden;
}

	.blur,
	.overlay {
		transition: opacity 80ms linear;
	}

	.blur {
		background-size:cover;
		position:absolute;
		top:0;
		right:15px;
		bottom:0;
		left:15px;
		opacity: 0;
		z-index: 89;
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-o-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
	}

	.overlay {
		position:absolute;
		text-align:center;
		background:rgba(0,0,0,0.4);
		top:0;
		right:15px;
		bottom:0;
		left:15px;
		opacity: 0;
		z-index: 90;
	}

	.caption-wrapper {
		display: table;
		width:100%;
		height:100%;
	}

		.caption {
			display: table-cell;
			vertical-align: middle;
		}

			.caption .caption-title {
				color: white;
			}

	.showcase-link:hover .blur,
	.showcase-link:hover .overlay {
		opacity:1;
	}


/* People */
.image-holder{
	display:block;
    position: relative;
    margin: 15px auto;
}

	.head-image,
	.hex {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index:0;
    	/*border-radius:50%;*/
	}

	.dummy {
		z-index:0;
	}

	.hex {
		z-index:2;
	}

	.front{
	    z-index: 1;
	}


/* Project page */
.project-images {
	margin-top:80px;
}

	.project-images img {
		margin-bottom:30px;
	}

.people-involved {
	text-align: center;
}

@media only screen 	and (min-width : 640px) {
	.people-involved .column,
	.people-involved .column.end {
		display: inline-block;
		float:none;
	}
}


/**** HEADER ****/
header {
	background:transparent;
	position:fixed;
	width:100%;
	padding:20px 40px;
	overflow: hidden;
	transition: background-color 100ms ease-in;
	z-index:99;
	text-align:center;
}
	
	.logo {
		display: inline-block;
		width:120px;
		transition: opacity 100ms ease-in;
	}

	.front-page .logo {
		opacity: 0;
	}

	header.fixed {
		background:rgba(48, 47, 47, 0.95);
	}

		header.fixed .logo {
			opacity: 1;
		}

	@media only screen 	and (max-width : 640px) {
		
		header {
			padding:10px 30px;
			position:static;
			background:rgb(48, 47, 47);
		}

			header.fixed {
				position:static !important;
			}

			header .left,
			header .right {
				float:none !important; 
			}

			.logo {
				width:160px;
				margin-bottom:20px;
				display: none;
			}

			.nav {
				display: inline-block;
			}
	}

	@media only screen 	and (min-width : 640px) {
		header {
			text-align: left;
		}
	}

/**** FOOTER ****/
footer {
	color:white;
	padding:40px;
	background:rgb(48, 47, 47);
}